<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BookReview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review.login' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review.login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review.register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">REGISTER</h5>
                    </div>

                    <div class="card-body">
                        <form action="{% url 'review.registerAttempt' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control {% if errors.username %}is-invalid{% endif %}" name="username" id="username" placeholder="john.doe" value="{{ username }}" {% if errors.username %}aria-describedby="usernameHelpBlock"{% endif %} required>
                                {% if errors.username %}
                                    <small id="usernameHelpBlock" class="form-text text-danger">
                                      {{ errors.username }}
                                    </small>
                                {% endif %}
                            </div>
                        
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}" name="name" id="name" placeholder="john.doe" value="{{ name }}" {% if errors.name %}aria-describedby="nameHelpBlock"{% endif %} required>
                                {% if errors.name %}
                                    <small id="nameHelpBlock" class="form-text text-danger">
                                      {{ errors.name }}
                                    </small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control {% if errors.password %}is-invalid{% endif %}" name="password" id="password" placeholder="*****" {% if errors.password %}aria-describedby="passwordHelpBlock"{% endif %} required>
                                {% if errors.password %}
                                    <small id="usernameHelpBlock" class="form-text text-danger">
                                      {{ errors.password }}
                                    </small>
                                {% endif %}
                            </div>
                        
                            <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control {% if errors.confirm_password %}is-invalid{% endif %}" name="confirm_password" id="confirm_password" placeholder="*****" {% if errors.confirm_password %}aria-describedby="confirm_passwordHelpBlock"{% endif %} required>
                                {% if errors.confirm_password %}
                                    <small id="usernameHelpBlock" class="form-text text-danger">
                                      {{ errors.confirm_password }}
                                    </small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">REGISTER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>